[submodule "libraries/Adafruit_NeoPixel"]
	path = libraries/Adafruit_NeoPixel
url=git@github.com:gpambrozio/Adafruit_NeoPixel.git
[submodule "libraries/Adafruit_LSM303"]
	path = libraries/Adafruit_LSM303
	url = git@github.com:adafruit/Adafruit_LSM303.git
[submodule "libraries/Adafruit_LSM303DLHC"]
	path = libraries/Adafruit_LSM303DLHC
	url = git@github.com:adafruit/Adafruit_LSM303DLHC.git
[submodule "libraries/Adafruit_Motor_Shield_V2_Library"]
	path = libraries/Adafruit_Motor_Shield_V2_Library
	url = git@github.com:adafruit/Adafruit_Motor_Shield_V2_Library.git
[submodule "libraries/Adafruit_NeoMatrix"]
	path = libraries/Adafruit_NeoMatrix
	url = git@github.com:adafruit/Adafruit_NeoMatrix.git
[submodule "libraries/Adafruit_nRF8001"]
	path = libraries/Adafruit_nRF8001
	url = git@github.com:adafruit/Adafruit_nRF8001.git
[submodule "libraries/Adafruit_WS2801"]
	path = libraries/Adafruit_WS2801
	url = git@github.com:adafruit/Adafruit-WS2801-Library.git
[submodule "libraries/AdafruitGFXLibrary"]
	path = libraries/AdafruitGFXLibrary
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "libraries/Adafruit_WS2801_trinket"]
	path = libraries/Adafruit_WS2801_trinket
	url = git@github.com:gpambrozio/Adafruit-WS2801-Library.git
[submodule "libraries/Adafruit_WS2801_trinket_onecolor"]
	path = libraries/Adafruit_WS2801_trinket_onecolor
	url = git@github.com:gpambrozio/Adafruit-WS2801-Library.git
[submodule "libraries/TinyWireM"]
	path = libraries/TinyWireM
	url = git@github.com:adafruit/TinyWireM.git
[submodule "libraries/TinyWireS"]
	path = libraries/TinyWireS
	url = git@github.com:gpambrozio/TinyWire.git
[submodule "libraries/Adafruit_LED_Backpack_Library"]
	path = libraries/Adafruit_LED_Backpack_Library
	url = git@github.com:adafruit/Adafruit-LED-Backpack-Library.git
[submodule "libraries/ThingSpeak"]
	path = libraries/ThingSpeak
	url = https://github.com/mathworks/thingspeak-arduino.git
[submodule "libraries/MicroView"]
	path = libraries/MicroView
	url = https://github.com/geekammo/MicroView-Arduino-Library.git
[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = git@github.com:gpambrozio/FastLED.git
