[submodule "libraries/Adafruit_WS2801_trinket"]
	path = libraries/Adafruit_WS2801_trinket
	url = git@github.com:gpambrozio/Adafruit-WS2801-Library.git
[submodule "libraries/Adafruit_WS2801_trinket_onecolor"]
	path = libraries/Adafruit_WS2801_trinket_onecolor
	url = git@github.com:gpambrozio/Adafruit-WS2801-Library.git
[submodule "libraries/TinyWireS"]
	path = libraries/TinyWireS
	url = git@github.com:gpambrozio/TinyWire.git
[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = git@github.com:gpambrozio/FastLED.git
